@import './../../assets/styles/global';

.ant-form-item-row {
  min-width: 400px !important;
}

.ant-form-item-control-input-content > *{
  height: 40px !important;
}

#reader > div:nth-child(1) > img,
#html5-qrcode-anchor-scan-type-change {
  display: none;
}
