$spacing-none: 0 !default; // 0
$spacing-extra-small: 0.25rem !default; // 4px
$spacing-small: 0.5rem !default; // 8px
$spacing-medium: 1rem !default; // 16px
$spacing-large: 1.25rem !default; // 20px
